@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.dummy {
    font-family: "Inter", sans-serif;
}

:root {
    --accent-mint: #00C8B3;
    --regular-white: #FFFFFF;
    --light-purple: #B727CA;
}

* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    padding: 20px;
    background: linear-gradient(to right,#FE39DA,#40268E, #00C8B3);
}
.main-container{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    top:0%;
    left: 0%;
    padding-left: 65px;
    padding-right: 60px;
}
.navbutton{
    display: flex;
    gap: 25px;
    color: #141414;
    
    list-style-type: none;
    align-items: center;
    font-weight: 400;
    text-align: center;
}
.logo {
    display:flex;
    align-items: center;
    gap: 10px;
}
.logo img {
      height: 31px;
      width: 31px;
}
.company-name {
     font-weight: bold;
     color: #00C8B3;
     font-size: 20px;   
     
}
.navbutton a{
    
    font-size: 14px;
    color: #0a0a0a;
    text-decoration-line: none;
    font-weight: bold;
}
.sign-btn {
    background-color: #00C8B3;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
    align-items: center;
    font-weight: 400;
    font-weight: bold;
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;  
}

.hero-top{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 18px;
}
.hero-title1{
    padding: 8px 18px;
    padding-left: 40px;
    justify-content: space-between;
    align-items: flex-start;
}
.title-1-a{
    display: flex;
    align-items: center;
    gap: 12px;
}
.title-1-b{
    display: flex;
    align-items: center;
    gap: 12px;
}
h1{
    font-size: 52px;
    font-weight: bolder;
}

.badge-purple{
    right: 100px;
    background-color: #B727CA;
    color:#FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
}
.badge-green{
    background-color: #00C8B3;
    color:#FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
}
.hero-top-right{
    display:flex;
    flex-direction: column;
}
.paragraph-1{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    padding: 8px 18px;
    
}
.stats{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-right: 8px;
    text-align: left;

}
.stats-item{
   padding: 4px 18px; 
   padding-right: 18px;
}
.stats-item\h2{
    font-size: 30px;
}
.stats-item\p{
    font-size: 14px;
}
.video-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}
.video-placeholder video{
    border-radius: 50px;
    max-width: 1150px;
    height: auto;
}

.outcomes{
    margin-left: 50px;
    margin-right: 10px;
    display:flex;
    justify-content: space-between;
    gap: -25px;
    margin-top: 30px;
}
.outcomes-1{
    display: flex;
    align-items: flex-start;
    gap: 1px;
    flex:1;
    
}
.outcomes-1 img{
    width: 150px;
    height:150px;
    margin-right: -50px;
    margin-left: -30px;
    margin-top: -50px;
    margin-bottom: 20px;
}

.text h4{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.text p{
    margin-top: 8px;
    line-height: 1.5;
    font-size: 10px;
}

