*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sora:wght@100..800&display=swap');

.body{
  margin:10px;
}
.navbar-container{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 16px 32px;
  margin:0px 64px;
}

.Logo img{
  height:100%;
  max-height:200px;
  width: auto;
  padding-left: 10px;
}
.navbar{
  align-items: center;
  justify-content: center;
}
.navbutton{
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 35px;
  text-transform: uppercase;
  
}
.navbutton li{
  list-style-type: none;
}
.cart{
  padding-right: 10px;
}

.navbutton a{
  font-size: 15px;
  color:black;
  font-family: "Sora", sans-serif;
  align-content: center;
  font-weight: 900px;
  font-weight: bold;
}

.hero-1{
  position: relative;
  width: 100%;
  display: inline-block;
}

.hero-1 img{
  width: 100%;
  height: 608px;
  object-fit: cover;
  padding:25px;
  display: block;
}
.hero-1-box{
  position: absolute;
  top: 12%;
  right: 6%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero-1-text{
  color: #405E42;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.hero-1-text h1{
  font-size: 55px;
  font-weight: 400;
  position: relative;
  text-align: left;
  font-family: "Sora", sans-serif;
}
.hero-1-text span{
  font-family: "Sora", sans-serif;
  font-weight: 600;
}
.hero-1-text p{
  text-align: left;
  font-size: 20px;
  font-family: "Sora", sans-serif;
  opacity: .65;
}
.hero-1-buttons{
  color: #405E42;
  display: flex;
  gap: 10px;
}
.hero-1-buttons-1{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
  background-color: #405E42;
  font-size: 16px;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  color: white;
  border: 0;
  border-radius: 5px;
}
.hero-1-buttons-1:hover{
  background-color: #2e8c34;
  transition-duration: .5s;
  transition-timing-function: ease-in;
  font-size: 18px;
}
.hero-2{
  margin-bottom: 60px;
}
.hero-2-text{
  color: black;
  text-align: center;
  gap: 10px;
}
.hero-2-text h1{
  font-size: 50px;
  font-weight: 600;
  font-family: "Sora", sans-serif;
}
.hero-2-text p{
  padding-top: 25px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Sora", sans-serif;
}
.hero-2-box{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 60px;
}
.hero-2-text-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  margin-left: 40px;
  gap: 30px;
  opacity: 1;
}
.hero-2-text-left-box{
  background-color: #364f37;
  color: white;
  width: 380px;
  height: 134px;
  padding-left: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Sora", sans-serif;
}
.hero-2-text-left-box h4{
  font-size:18px;
  font-weight: bold;
}
.hero-2-text-left-box p{
  font-size: 16px;
  font-weight: 400;
}
.hero-2-box-video{
  width: 100%;
  max-width: 409.38px; 
  height: 611px;
  background: linear-gradient(to bottom,#D4B484,#405E42);
  padding: 10px;
  border-radius: 1rem;
  box-shadow: rgb(68, 66, 66);
  justify-content: center;
  align-items: center;
}
.hero-2-box-video video{
  display: block; 
  width: 100%;
  height: 584px;
  border-radius: 1rem;
  object-fit: cover;
}
.hero-2-text-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  margin-right: 40px;
  gap: 30px;
  opacity: 1;
}

.hero-2-text-right-box{
  background-color: #364f37;
  color: white;
  width: 380px;
  height: 134px;
  padding-left: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Sora", sans-serif;
}
.hero-2-text-right-box h4{
  font-size:18px;
  font-weight: bold;
}
.hero-2-text-right-box p{
  font-size: 16px;
  font-weight: 400;
}
.hero-3{
  background-color: #F2F2F2;
  padding: 40px 0px;
}
.hero-3-text{
  text-align: center;
}
.hero-3-text h2{
  color: #405E42;
  font-size: 48px;
  font-weight: 600;
  font-family: "Sora", sans-serif;
}
.hero-3-text h4{
  font-size: 28px;
  font-weight: 400;
  font-family: "Sora", sans-serif;
  color: #000000;
}
.hero-3-text p{
  font-size: 20px;
  font-weight: 400px;
  font-family: "Sora", sans-serif;
  color: #000000;
}
.hero-3-image{
  justify-content: center;
  align-items: center;
}
.splash img{
  left: 30%;
  max-width: 1190;
  height: 584px;
  width: 100%;
  position: static;
  z-index: 0;
}
.airpurifier img{
  position: relative;
  z-index: 1;
  top: aut    ;
}

